---
import Layout from '../layouts/Layout.astro';
import { getTranslations, type Translations } from '../lib/i18n/index';
import About from '../components/About.astro';
import Team from '../components/Team.astro';
import JoinTeam from '../components/JoinTeam.astro';

const translations: Translations = getTranslations();
---

<Layout title="About Us" translations={translations}>
  <div class="mil-inner-banner">
    <div class="mil-banner-content mil-up">
      <div class="mil-animation-frame">
        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
      </div>
      <div class="container">
        <ul class="mil-breadcrumbs mil-mb-60">
          <li><a href="/">{translations.navigation.home}</a></li>
          <li><a href="/about-us">About Us</a></li>
        </ul>
        <h1 class="mil-mb-60">Empowering <span class="mil-thin">Digital</span><br /> Transformation <span class="mil-thin">with Tria</span></h1>
        <a href="#about" class="mil-link mil-dark mil-arrow-place mil-down-arrow"><span>About our studio</span></a>
      </div>
    </div>
  </div>

  <About translations={translations} />
  <Team translations={translations} />
  <JoinTeam translations={translations} />
</Layout>
