---
import { getCollection } from "astro:content";
import { createT } from "../i18n/utils";
const t = createT(Astro.currentLocale);

const allPosts = await getCollection("blog");
const posts = allPosts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<!-- blog -->
<section>
  <div class="container tria-p-120-60">
    <div class="row align-items-center tria-mb-30">
      <div class="col-lg-6 tria-mb-30">
        <span class="tria-suptitle tria-suptitle-dark tria-up">Reading</span>
        <h2 class="tria-up" style="margin-top:20px;" data-i18n="blog.title">{t("blog.title")}</h2>
      </div>
      <div class="col-lg-6 tria-mb-30">
        <div class="tria-adaptive-right tria-up">
          <a href="/blog" class="tria-link tria-dark tria-arrow-place">
            <span data-i18n="blog.viewAll">{t("blog.viewAll")}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      {
        posts.map((post) => (
          <div class="col-lg-6">
            <a href={`/blog/${post.id}`} class="tria-blog-card tria-mb-60">
              <div class="tria-cover-frame tria-up">
                <img src={post.data.image} alt={post.data.title} />
              </div>
              <div class="tria-post-descr">
                <div class="tria-labels tria-up tria-mb-30">
                  <div class="tria-label tria-upper tria-accent">{post.data.category.toUpperCase()}</div>
                  <div class="tria-label tria-upper">{new Date(post.data.pubDate).toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" })}</div>
                </div>
                <h4 class="tria-up tria-mb-30">{post.data.title}</h4>
                <p class="tria-post-text tria-up tria-mb-30">{post.data.description}</p>
                <div class="tria-link tria-dark tria-arrow-place tria-up">
                  <span data-i18n="blog.readMore">{t("blog.readMore")}</span>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- blog end -->
