---
interface Props {
  translations: any;
}

const { translations } = Astro.props;
---

<section class="mil-soft-bg">
  <div class="mi-invert-fix">
    <div class="mil-animation-frame">
      <div
        class="mil-animation mil-position-1 mil-scale animation-position-7"
      >
      </div>
      <div
        class="mil-animation mil-position-2 mil-scale animation-position-4"
      >
      </div>
    </div>
    <div class="container mil-p-120-120">
      <div class="row">
        <div class="col-lg-10">
          <span
                class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
                ><span data-i18n-text="testimonials.subtitle">{translations.testimonials.subtitle}</span
              >
        </div>
      </div>
      <h2 class="mil-center mil-up mil-mb-60" data-i18n-html="testimonials.title" set:html={translations.testimonials.title}>
      </h2>
      <div class="mil-revi-pagination mil-up mil-mb-60"></div>
      <div class="row mil-relative justify-content-center">
        <div class="col-lg-8">
          <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
            <div
              class="mil-slider-arrow mil-prev mil-revi-prev mil-arrow-place"
            >
            </div>
            <div class="mil-slider-arrow mil-revi-next mil-arrow-place">
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            class="mil-quote-icon mil-up"
          >
            <path
              d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 0 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.9433594 37.107422 30.9433594 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.9433594 37.107422 30.9433594 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z"
              fill="#000000"></path>
          </svg>
          <div class="swiper-container mil-reviews-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="mil-review-frame mil-center"
                  data-swiper-parallax="-200"
                  data-swiper-parallax-opacity="0"
                >
                  <h5 class="mil-up mil-mb-10" data-i18n-text="testimonials.client1.name">
                    {translations.testimonials.client1.name}
                  </h5>
                  <p class="mil-mb-5 mil-upper mil-up mil-mb-30" data-i18n-text="testimonials.client1.company">
                    {translations.testimonials.client1.company}
                  </p>
                  <p class="mil-text-xl mil-up" data-i18n-text="testimonials.client1.review">
                    {translations.testimonials.client1.review}
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="mil-review-frame mil-center"
                  data-swiper-parallax="-200"
                  data-swiper-parallax-opacity="0"
                >
                  <h5 class="mil-up mil-mb-10" data-i18n-text="testimonials.client2.name">{translations.testimonials.client2.name}</h5>
                  <p class="mil-mb-5 mil-upper mil-up mil-mb-30" data-i18n-text="testimonials.client2.company">
                    {translations.testimonials.client2.company}
                  </p>
                  <p class="mil-text-xl mil-up" data-i18n-text="testimonials.client2.review">
                    {translations.testimonials.client2.review}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
