---
import type { Translations } from "../lib/i18n/index";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import { getLocale } from "../lib/i18n/request";
import esTranslations from "../locales/es.json";
import enTranslations from "../locales/en.json";

import Cursor from "../components/Cursor.astro";
import Preloader from "../components/Preloader.astro";
import Frame from "../components/Frame.astro";
import MenuFrame from "../components/MenuFrame.astro";
import Footer from "../components/Footer.astro";
import HiddenElements from "../components/HiddenElements.astro";

interface Props {
  translations?: Translations;
}

const { translations } = Astro.props;
const lang = getLocale(Astro.url);
const allTranslations = {
  es: esTranslations,
  en: enTranslations,
};
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Tria brand icons -->
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo-dark.svg" />
    <link rel="apple-touch-icon" href="/assets/images/logo-dark.svg" />

    <!-- Theme Color -->
    <meta name="theme-color" content="#0047AB" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#0047AB" />

    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-grid.css" />
    <link rel="stylesheet" href="/assets/css/plugins/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
  </head>
  <body>
    <div class="mil-wrapper" id="top">
      <Cursor />
      <Preloader translations={translations} />
      <Frame translations={translations} />

      <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">
          <slot />
          <Footer translations={translations} />
          <HiddenElements />
        </div>
      </div>

      <MenuFrame translations={translations} />
    </div>

    <!-- jQuery -->
    <script src="/assets/js/plugins/jquery.min.js" is:inline></script>
    <!-- swup js -->
    <script src="/assets/js/plugins/swup.min.js" is:inline></script>
    <!-- swiper js -->
    <script src="/assets/js/plugins/swiper.min.js" is:inline></script>
    <!-- fancybox js -->
    <script src="/assets/js/plugins/fancybox.min.js" is:inline></script>
    <!-- gsap js -->
    <script src="/assets/js/plugins/gsap.min.js" is:inline></script>
    <!-- scroll smoother -->
    <script src="/assets/js/plugins/smooth-scroll.js" is:inline></script>
    <!-- scroll trigger js -->
    <script src="/assets/js/plugins/ScrollTrigger.min.js" is:inline></script>
    <!-- scroll to js -->
    <script src="/assets/js/plugins/ScrollTo.min.js" is:inline></script>
    <!-- main scripts -->
    <script src="/assets/js/script.js" is:inline></script>
    <script src="/assets/js/main.js" is:inline></script>
    <script define:vars={{ allTranslations, lang }} is:inline>
      window.translations = allTranslations;
      window.currentLang = lang;
    </script>
  </body>
</html>
